@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif;
}
.border1{
    border: 1px solid black;
}

.productLayout{
    padding: 25px;
    margin-bottom: 25px;
}
.prodImage{
    width: 100%;
    height: 250px;
    object-fit: contain;
}
